.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 14px;
  text-align: left;
}

.styled-table thead tr {
  background-color: #1ea8b0;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 8px 10px;
  border: 1px solid #dddddd;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

/* .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
} */

/* .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #1ea8b0;
} */

@media not all and (min-width: 480px) {
  .styled-table {
    font-size: 12px;
  }
}
